<div class="central-align" style="height: 100vh;">
    <div class="main-div shadow-sm p-4">
      <p class="text-center fs-4 fw-semibold">Login</p>
      <div class="mb-3">
        <label for="Username" class="form-label m-0">Username</label>
        <input type="text" class="form-control" id="Username" >
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label m-0">Email address</label>
        <input type="password" class="form-control" id="Password" >
      </div>
      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary" type="button">Submit</button>
      </div>
      <p class="text-center">Forgot Password?</p>
    </div>
  </div>
  